<!DOCTYPE html>
<html>
<head>
    <title>Management and statuses</title>
    <link rel="icon" href="./logo.png">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>

<div id="app">
    <v-app dark>
        <v-container>
            <v-tabs dark color="cyan" slider-color="yellow">
                <v-tab>Management</v-tab>
                <v-tab-item>
                    <v-card flat>
                        <v-card-text>
                            <v-select v-model="streamer" v-on:change="initialize" :items="streamers"
                                      label="Streamer"></v-select>
                            <div>
                                <v-toolbar flat>
                                    <v-toolbar-title>Streams</v-toolbar-title>
                                    <v-divider class="mx-2" inset vertical></v-divider>
                                    <v-spacer></v-spacer>
                                    <v-text-field
                                            v-model="search"
                                            append-icon="search"
                                            label="Search"
                                            single-line
                                            hide-details
                                    ></v-text-field>
                                    <v-spacer></v-spacer>
                                    <v-btn color="primary" @click="openAddition" dark class="mb-2">Add</v-btn>
                                    <v-btn color="primary" dark @click="openValidation" class="mb-2">Validate</v-btn>
                                </v-toolbar>
                                <v-data-table
                                        hide-actions
                                        :search="search"
                                        :headers="headers"
                                        :items="streams"
                                        :pagination.sync="pagination"
                                        class="elevation-1"
                                >
                                    <template v-slot:items="props">
                                        <td width="25%">{{ props.item._id }}</td>
                                        <td width="25%">{{ props.item.title }}</td>
                                        <td width="15%">{{ props.item.date | date }}</td>
                                        <td width="15%">{{ props.item.game }}</td>
                                        <td width="10%">
                                            <v-icon small @click="openEdition(props.item)">edit</v-icon>
                                            <v-icon small @click="openDeletion(props.item)" class="mx-1">delete</v-icon>
                                            <v-icon small @click="openValidation(props.item)">refresh</v-icon>
                                        </td>
                                    </template>
                                    <template v-slot:no-data>
                                        <v-btn color="primary" @click="initialize">Reset</v-btn>
                                    </template>
                                </v-data-table>
                                <div class="text-xs-center pt-2">
                                    <v-pagination v-model="pagination.page" :length="pages"/>
                                </div>
                            </div>
                        </v-card-text>
                    </v-card>
                </v-tab-item>

                <v-tab>Status</v-tab>
                <v-tab-item>
                    <v-card flat>
                        <v-card-text>
                            <v-toolbar flat>
                                <v-toolbar-title>Streams</v-toolbar-title>
                                <v-divider class="mx-2" inset vertical></v-divider>
                                <v-spacer></v-spacer>
                                <v-text-field
                                        v-model="searchStatus"
                                        append-icon="search"
                                        label="Search"
                                        single-line
                                        hide-details
                                ></v-text-field>
                                <v-spacer></v-spacer>
                            </v-toolbar>
                            <v-data-table :search="searchStatus" :headers="headersStatus" :items="statuses"
                                          class="elevation-1">
                                <template v-slot:items="props">
                                    <td :class="background(props.item.state)">
                                        {{ props.item._id }}
                                    </td>
                                    <td :class="background(props.item.state)">
                                        {{ props.item.user }}
                                    </td>
                                    <td :class="background(props.item.state)">
                                        {{ props.item.vodId }}
                                    </td>
                                    <td :class="background(props.item.state)">
                                        {{ props.item.date }}
                                    </td>
                                    <td :class="background(props.item.state)">
                                        {{ props.item.startedBy }}
                                    </td>
                                    <td :class="background(props.item.state)">
                                        {{ props.item.state }}
                                    </td>
                                    <td :class="background(props.item.state)">
                                        <v-icon @click="openValidation(props.item)">refresh</v-icon>
                                        <v-icon :disabled="props.item.state !== 'RUNNING'"
                                                @click="openStopping(props.item._id)">
                                            stop
                                        </v-icon>
                                    </td>
                                </template>
                                <template v-slot:no-data>
                                    <v-btn color="primary" @click="initialize">
                                        Reset
                                    </v-btn>
                                </template>
                            </v-data-table>
                        </v-card-text>
                    </v-card>
                </v-tab-item>
            </v-tabs>
        </v-container>

        <v-dialog v-model="editDialog" max-width="500px">
            <template v-slot:activator="{ on }">
                <input type="hidden" v-on="on"/>
            </template>
            <v-card>
                <v-card-title>
                    <span class="headline">Edit</span>
                </v-card-title>
                <v-card-text>
                    <v-container grid-list-md>
                        <v-layout wrap>
                            <v-flex xs12>
                                <v-text-field v-model="editedData.title" label="Title"></v-text-field>
                            </v-flex>
                            <v-flex xs12>
                                <v-text-field v-model="editedData.date" label="Date"></v-text-field>
                            </v-flex>
                            <v-flex xs12>
                                {{ editedData.date | date }}
                            </v-flex>
                            <v-flex xs12>
                                <v-text-field v-model="editedData.game" label="Genre"></v-text-field>
                            </v-flex>
                        </v-layout>
                    </v-container>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1" flat @click="close">Cancel</v-btn>
                    <v-btn color="blue darken-1" flat @click="edit">Save</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>

        <v-dialog v-model="addDialog" max-width="500px">
            <template v-slot:activator="{ on }">
                <input type="hidden" v-on="on"/>
            </template>
            <v-card>
                <v-card-title>
                    <span class="headline">Add</span>
                </v-card-title>
                <v-card-text>
                    <v-container grid-list-md>
                        <v-layout wrap>
                            <v-flex xs12>
                                <v-radio-group label="Type" v-model="addData.type" :mandatory="false">
                                    <v-radio label="Vod" value="vod" checked></v-radio>
                                    <v-radio label="User" value="user"></v-radio>
                                </v-radio-group>
                            </v-flex>
                            <v-flex xs12>
                                <v-checkbox v-model="addData.skipMuted" label="Skip muted"></v-checkbox>
                            </v-flex>
                            <v-flex xs12>
                                <v-text-field v-model="addData.value" label="Value"></v-text-field>
                            </v-flex>
                        </v-layout>
                    </v-container>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1" flat @click="close">Cancel</v-btn>
                    <v-btn color="blue darken-1" flat @click="add">Add</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>

        <v-dialog v-model="validateDialog" max-width="500px">
            <template v-slot:activator="{ on }">
                <input type="hidden" v-on="on"/>
            </template>
            <v-card>
                <v-card-title>
                    <span class="headline">Validation</span>
                </v-card-title>
                <v-card-text>
                    <v-container grid-list-md>
                        <v-layout wrap>
                            <v-flex xs12>
                                <v-text-field label="id" v-model="validateData._id"></v-text-field>
                            </v-flex>
                            <v-flex xs12>
                                <v-text-field v-model="validateData.vodId" label="vod"></v-text-field>
                            </v-flex>
                            <v-flex xs12>
                                <v-checkbox v-model="validateData.skipMuted" label="Skip muted"></v-checkbox>
                            </v-flex>
                        </v-layout>
                    </v-container>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1" flat @click="close">Cancel</v-btn>
                    <v-btn color="blue darken-1" flat @click="validate">Validate</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>

        <v-dialog v-model="deleteDialog" max-width="500px">
            <template v-slot:activator="{ on }">
                <input type="hidden" v-on="on"/>
            </template>
            <v-card>
                <v-card-title>
                    <span class="headline">Delete</span>
                </v-card-title>
                <v-card-text>
                    <v-container grid-list-md>
                        <v-layout wrap>
                            <v-flex xs12> Are you sure to delete stream with id: {{ deleteData._id }}.</v-flex>
                            <v-flex xs12>
                                <v-checkbox v-model="deleteData.deleteMedia" label="Delete media"></v-checkbox>
                            </v-flex>
                        </v-layout>
                    </v-container>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1" flat @click="close">Cancel</v-btn>
                    <v-btn color="blue darken-1" flat @click="deleteItem">Delete</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>

        <v-dialog v-model="stopDialog" max-width="500px">
            <template v-slot:activator="{ on }">
                <input type="hidden" v-on="on"/>
            </template>
            <v-card>
                <v-card-title>
                    <span class="headline">Stop?</span>
                </v-card-title>
                <v-card-text>
                    <v-container grid-list-md>
                        <v-layout wrap>
                            <v-flex xs12> Are you sure to stop stream with id: {{ stopUUID }}.</v-flex>
                        </v-layout>
                    </v-container>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1" flat @click="close">Cancel</v-btn>
                    <v-btn color="blue darken-1" flat @click="stop">Stop</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-app>
</div>

<script>
    new Vue({
        el: '#app',
        data: {
            BASE_URL: window.location.origin,
            search: "",
            streamers: [],
            streamer: "",
            headers: [
                {text: "id", align: "left", value: "_id"},
                {text: "Title", value: "title"},
                {text: "Date", value: "date"},
                {text: "Genre", value: "game"},
                {text: "Actions", value: "name", sortable: false}
            ],
            streams: [],
            pagination: {
                rowsPerPage: 25,
                descending: true,
                sortBy: "date"
            },
            pages: 0,

            searchStatus: "",
            headersStatus: [
                {text: "id", align: "left", value: "_id"},
                {text: "User", value: "user"},
                {text: "Vod", value: "vodId"},
                {text: "Date", value: "date"},
                {text: "Started by", value: "startedBy"},
                {text: "State", value: "state"},
                {sortable: false}
            ],
            statuses: [],

            addDialog: false,
            addData: {
                type: "vod",
                value: "",
                skipMuted: false
            },

            validateDialog: false,
            validateData: {
                _id: "",
                vodId: "",
                skipMuted: false
            },

            editDialog: false,
            editedData: {
                _id: "",
                title: "",
                date: 0,
                game: ""
            },

            deleteDialog: false,
            deleteData: {
                _id: "",
                deleteMedia: false
            },

            stopDialog: false,
            stopUUID: ""
        },
        filters: {
            date(value) {
                if (!value) return "";
                let date = new Date();
                date.setTime(value);
                let year = date.getFullYear();
                let month = date.getMonth() + 1;
                let day = date.getDate();
                return `${day < 10 ? 0 : ""}${day}.${month < 10 ? 0 : ""}${month}.${year}`;
            }
        },
        created() {
            this.$http.get(this.BASE_URL + "/database/users").then(response => {
                this.streamers = response.body;
                this.streamer = response.body[0];
                this.initialize();
            });
            this.$http.get(this.BASE_URL + "/status_list").then(r => {
                this.statuses = r.body;
            });
            setInterval(() => {
                this.$http.get(this.BASE_URL + "/status_list").then(r => {
                    this.statuses = r.body;
                });
            }, 1000);
        },
        methods: {
            initialize() {
                this.$http.get(this.BASE_URL + "/database/streams/" + this.streamer).then(response => {
                    this.streams = response.body;
                    this.pagination.totalItems = response.body.length;
                    if (this.pagination.rowsPerPage == null || this.pagination.totalItems == null) this.pages = 0;
                    else this.pages = Math.ceil(this.pagination.totalItems / this.pagination.rowsPerPage);
                });
            },

            openEdition(item) {
                this.editedData = Object.assign({}, item);
                this.editDialog = true;
            },
            edit() {
                this.$http
                    .post(`${this.BASE_URL}/database/update/${this.streamer}/${this.editedData._id}`, this.editedData)
                    .then(() => {
                        this.initialize();
                        this.close();
                    });
            },
            openDeletion(item) {
                this.deleteData = Object.assign({}, {_id: item._id, deleteMedia: false});
                this.deleteDialog = true;
            },
            deleteItem() {
                this.$http
                    .delete(`${this.BASE_URL}/database/${this.streamer}/${this.deleteData._id}`, {
                        params: {deleteMedia: this.deleteData.deleteMedia}
                    })
                    .then(() => {
                        this.initialize();
                        this.close();
                    });
            },
            openAddition() {
                this.addData = {type: "vod", value: "", skipMuted: false};
                this.addDialog = true;
            },
            add() {
                this.$http.post(this.BASE_URL + "/database/add", this.addData).then();
                this.initialize();
                this.close();
            },
            openValidation(item) {
                this.validateData = Object.assign(
                    {},
                    {
                        _id: item !== undefined ? item._id : "",
                        vodId: item.vodId ? item.vodId : "",
                        skipMuted: false
                    }
                );
                this.validateDialog = true;
            },
            validate() {
                if (this.validateData.vodId.trim() !== "" || this.validateData._id.trim() !== "")
                    this.$http.post(this.BASE_URL + "/database/validate", this.validateData).then(() => {
                        this.close();
                    });
            },
            close() {
                this.editDialog = false;
                this.validateDialog = false;
                this.addDialog = false;
                this.deleteDialog = false;
                this.stopDialog = false;
            },
            openStopping(_id) {
                this.stopUUID = _id;
                this.stopDialog = true;
            },
            stop() {
                this.$http.delete(this.BASE_URL + "/status_list/" + this.stopUUID).then(() => {
                    this.close();
                });
            },
            background(value) {
                switch (value) {
                    case "COMPLETE":
                        return "green";
                    case "INITIALIZE":
                        return "yellow";
                    case "RUNNING":
                        return "blue";
                    case "ERROR":
                        return "red";
                    case "STOPPED":
                        return "black";
                }
            }
        }
    })
</script>
</body>
</html>
