
[Unit]
Description=twitch-o-matic Service
After=syslog.target

[Service]
User=tom-daemon

ExecStart=/usr/local/twitch-o-matic/twitch-o-matic.jar
SuccessExitStatus=143

[Install]
WantedBy=multi-streamer.target
