
[Unit]
Description=Twitch-o-matic Service
After=multi-user.target

[Service]
Type=forking

ExecStart=/bin/bash /usr/local/bin/Twitch-o-matic.sh start
ExecStop=/bin/bash /usr/local/bin/Twitch-o-matic.sh stop
ExecReload =/bin/bash /usr/local/bin/Twitch-o-matic.sh reload

[Install]
WantedBy=multi-user.target
