[Unit]
Description=Twitch-o-matic Service
After=multi-user.target

[Service]
Type=idle
Restart=always
RestartSec=20
StartLimitInterval=200
StartLimitBurst=5

WorkingDirectory=/usr/local/Twitch-o-matic/
ExecStart=/usr/local/bin/Twitch-o-matic.sh start
ExecStop=/usr/local/bin/Twitch-o-matic.sh stop
ExecRestart =/usr/local/bin/Twitch-o-matic.sh restart

[Install]
WantedBy=multi-user.target
