<!DOCTYPE html>
<!--suppress HtmlUnknownTag -->
<html lang="ru">
<head>
    <title>Management and statuses</title>
    <link rel="icon" href="./logo.png">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
<script src="https://cdn.jsdelivr.net/npm/vee-validate@latest/dist/vee-validate.js"></script>

<div id="app">
    <v-app dark>
        <v-toolbar color="cyan" dark tabs>
            <v-toolbar-title>Management</v-toolbar-title>
            <template v-slot:extension>
                <v-tabs v-model="tabs" centered color="cyan" slider-color="yellow">
                    <v-tab href="#storage">
                        Storage
                    </v-tab>
                    <v-tab href="#streams">
                        Streams
                    </v-tab>
                    <v-tab href="#statuses">
                        Statuses
                    </v-tab>
                </v-tabs>
            </template>
        </v-toolbar>

        <v-tabs-items v-model="tabs">
            <v-tab-item value="storage">
                <v-card flat>
                    <v-card-text>
                        What kind of anime is this?
                    </v-card-text>
                </v-card>
            </v-tab-item>

            <!-- Streams tab -->
            <v-tab-item value="streams">
                <v-card flat>
                    <v-card-text>
                        <v-select v-model="streamer" :items="streamers" label="Streamer"></v-select>
                        <v-toolbar flat>
                            <v-toolbar-title>Streams</v-toolbar-title>
                            <v-divider class="mx-2" inset vertical></v-divider>
                            <v-spacer></v-spacer>
                            <v-text-field v-model="search" append-icon="search"
                                          label="Search" single-line hide-details>
                            </v-text-field>
                            <v-spacer></v-spacer>
                            <!--<v-btn color="primary" @click="openAddition" dark class="mb-2">Add</v-btn>-->
                            <!--<v-btn color="primary" dark @click="openValidation" class="mb-2">Validate</v-btn>-->
                            <v-btn color="primary" dark class="mb-2">Add</v-btn>
                            <v-btn color="primary" dark class="mb-2">Validate</v-btn>
                        </v-toolbar>
                        <v-data-table hide-actions :search="search" :headers="headers" :items="streams"
                                      :pagination.sync="pagination" class="elevation-1">
                            <template v-slot:items="props">
                                <td width="25%">{{ props.item._id }}</td>
                                <td width="25%">{{ props.item.title }}</td>
                                <td width="15%">{{ props.item.date | date }}</td>
                                <td width="15%">{{ props.item.game }}</td>
                                <td width="10%">
                                    <!--<v-icon small @click="openEdition(props.item)">edit</v-icon>-->
                                    <!--<v-icon small @click="openDeletion(props.item)" class="mx-1">delete</v-icon>-->
                                    <!--<v-icon small @click="openValidation(props.item)">refresh</v-icon>-->
                                    <v-icon small>edit</v-icon>
                                    <v-icon small class="mx-1">delete</v-icon>
                                    <v-icon small>refresh</v-icon>
                                </td>
                            </template>
                        </v-data-table>
                        <div class="text-xs-center pt-2">
                            <v-pagination v-model="pagination.page" :length="pages"></v-pagination>
                        </div>
                    </v-card-text>
                </v-card>
            </v-tab-item>
            <v-tab-item value="statuses">
                <v-card flat>
                    <v-card-text>Hello world</v-card-text>
                </v-card>
            </v-tab-item>
        </v-tabs-items>
    </v-app>
</div>

<script src="./app.js"></script>
</body>
</html>