    Path | Type | Description | Consraints
            ---- | ---- | ----------- | ------------
            {{#fields}}
        `{{path}}` | `{{type}}` |{{description}}|{{constraints}}
    {{/fields}}